# OSX
.DS_Store

# node.js
/node_modules/

# Android
/android/app/build/
/android/build/
/android/.gradle/
/android/app/.cxx/
*.keystore
!debug.keystore
local.properties

# iOS
/ios/build/
/ios/Pods/
*.hmap
*.ipa

# Metro
*.jsbundle
.metro-health-check*

# Testing
/coverage/

# Ruby
/vendor/bundle/
.bundle/
